/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

 @font-face {
    font-family: "mitr";
    src: url("/resources/assets/font/mitr-extralight.woff2") format('woff2'),
        url("/resources/assets/font/mitr-extralight.woff") format('woff'),
        url("/resources/assets/font/mitr-extralight.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "mitr";
    src: url("/resources/assets/font/mitr-light.woff2") format('woff2'),
        url("/resources/assets/font/mitr-light.woff") format('woff'),
        url("/resources/assets/font/mitr-light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "mitr";
    src: url("/resources/assets/font/mitr-regular.woff2") format('woff2'),
        url("/resources/assets/font/mitr-regular.woff") format('woff'),
        url("/resources/assets/font/mitr-regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "mitr";
    src: url("/resources/assets/font/mitr-medium.woff2") format('woff2'),
        url("/resources/assets/font/mitr-medium.woff") format('woff'),
        url("/resources/assets/font/mitr-medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "mitr";
    src: url("/resources/assets/font/mitr-semibold.woff2") format('woff2'),
        url("/resources/assets/font/mitr-semibold.woff") format('woff'),
        url("/resources/assets/font/mitr-semibold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "mitr";
    src: url("/resources/assets/font/mitr-bold.woff2") format('woff2'),
        url("/resources/assets/font/mitr-bold.woff") format('woff'),
        url("/resources/assets/font/mitr-bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "db_heavent";
    src: url("/resources/assets/font/db_heavent.woff2") format('woff2'),
        url("/resources/assets/font/db_heavent.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "db_heavent";
    src: url("/resources/assets/font/db_heavent_med.woff2") format('woff2'),
        url("/resources/assets/font/db_heavent_med.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

[x-cloak] {
    display: none;
}

.bg-paper{
    @apply bg-[url('/resources/assets/images/bg-paper.png')] bg-no-repeat border-transparent bg-center bg-contain;
}

.bg-0-2{
    @apply bg-[url('/resources/assets/images/q0-2.png')] bg-no-repeat border-transparent bg-center bg-contain;
    background-size: 90%, auto;
    background-position: center,left;
}
.bg-1-4{
    @apply bg-[url('/resources/assets/images/q1-4.png')] bg-no-repeat border-transparent bg-center bg-contain;
    background-size: 70%, auto;
    background-position: bottom,center;
}

.checkbox,.radio{
    @apply p-2;
    *{
        @apply transition-all;
    }
    label{
        @apply border-transparent overflow-clip;

        div>div:first-child,[type="checkbox"],[type="radio"]{
            @apply hidden;
            background-color: green;
        }
        div{
            @apply w-full text-center m-0;
        }
        label{
            @apply border-0 w-full p-2 ;
        }
        &:has(input[type="checkbox"]:checked),
        &:has(input[type="radio"]:checked){
            color: white;

        }
    }
}

.btn{
    &-ans{
        @apply px-4 py-2 bg-[url('/resources/assets/images/btn_ans.svg')] bg-no-repeat border-transparent bg-center bg-contain mx-auto my-2;
        label{
            @apply text-lg;
        }
        @apply drop-shadow-none;
        @apply transition-all duration-500 ease-out;
        &:has(:checked){
            @apply px-4 py-2 bg-[url('/resources/assets/images/btn_ans_active.svg')];
            @apply scale-110 drop-shadow-md;
            label{
                @apply text-gray-600;
            }
        }
        &:hover{
            @apply scale-110 drop-shadow-md
        }
    }

    &-0{
        @apply p-4 bg-[url('/resources/assets/images/btn0.png')] bg-no-repeat border-transparent bg-center bg-contain w-4/5 mx-auto my-2;
        label{
            @apply text-xl;
        }
        @apply drop-shadow-none;
        @apply transition-all duration-500 ease-out;

        &:hover,&:focus{
            @apply scale-110 drop-shadow-md;
            background-color: unset !important;
            box-shadow: unset !important;
        }
    }
    &-1{
        @apply p-4 bg-[url('/resources/assets/images/btn1.png')] bg-no-repeat border-transparent bg-center bg-contain w-4/5 mx-auto my-2;
        label{
            @apply text-xl;
        }
        @apply drop-shadow-none;
        @apply transition-all duration-500 ease-out;

        &:hover,&:focus{
            @apply scale-110 drop-shadow-md;
            background-color: unset !important;
            box-shadow: unset !important;
        }
    }
    &-2{
        @apply p-4 bg-[url('/resources/assets/images/btn2.png')] bg-no-repeat border-transparent bg-center bg-contain w-4/5 mx-auto my-2;
        label{
            @apply text-xl;
        }
        @apply drop-shadow-none;
        @apply transition-all duration-500 ease-out;

        &:hover,&:focus{
            @apply scale-110 drop-shadow-md;
            background-color: unset !important;
            box-shadow: unset !important;
        }
    }
    &-3{
        @apply p-4 bg-[url('/resources/assets/images/btn3.png')] bg-no-repeat border-transparent bg-center bg-contain w-4/5 mx-auto my-2;
        label{
            @apply text-xl;
        }
        @apply drop-shadow-none;
        @apply transition-all duration-500 ease-out;

        &:hover,&:focus{
            @apply scale-110 drop-shadow-md;
            background-color: unset !important;
            box-shadow: unset !important;
        }
    }

}